@import "../../styles/variables.scss";

.prueba {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hangman-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h2 {
        font-size: 45px;
        font-family: $paytone-font;
    }

    &__button {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: all 0.5s;
        &:hover{
            background-color: lightgray;
            width: 200px;
          }
    }

    &__wordGuess {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__secretWord {
            margin-top: 30px;
            font-size: 25px;
            font-family: $indie-font;
        }

        p {
            font-size: 25px;
            font-family: $indie-font;
            letter-spacing: 10px;
        }
    }

    &__btnWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        width: 70%;
        &_button {
            height: 40px;
            width: 50px;
            border-radius: 3px;
            border: 1px solid black;
            transition: all 0.2s;
            &:active{
                background-color: $button-guess-letter;
            }
        }
    }

    &__wrongLetters {
        p {
            font-size: 25px;
            font-family: $indie-font;
        }
        span {
            font-size: 30px;
            font-family: $paytone-font;
            color: $span-wrongLetters;
        }
    }
}
