//----------------------IMPORTS----------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
//-----------------------FONT VARIABLES----------------------------------------------------------------
$indie-font: 'Indie Flower', cursive;
$paytone-font: 'Paytone One', sans-serif;

//----------------------COLOR VARIABLES----------------------------------------------------------------
$navbackground-color: #5f8d4e;
$hover-links-color: #F49D1A;
$active-links-color:  #FFE15D;
$span-wrongLetters: rgb(236, 65, 65);
$button-guess-letter: lightblue;