.navigator-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

    img{
        height: 100px;
        width: 100px;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 25px;
        align-items: center;
        a {
            text-decoration: none;
            color: black;
          &:hover{
                color: blue;
            }  
           
        }
        a.active{
            color: blue;
        }
        p{
            cursor: pointer;
            &:hover{
                color: blue;
            }
        }
    }
}

