@import "../styles/variables.scss";
.navigator-container {
    height: 120px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    background-color: $navbackground-color;

    img {
        height: 100px;
        width: 100px;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 25px;
        align-items: center;
        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: $hover-links-color;
            }
        }
        a.active {
            color: $active-links-color;
        }
        p {
            cursor: pointer;
            &:hover {
                color: $hover-links-color;
            }
        }
    }
}
