@import "../../styles/variables.scss";

.square {
    flex: 33%;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: black;
    font-family: $paytone-font;
    transition: all 0.2s;
}

.square:active {
    background-color: salmon;
}
